#left {
  position: absolute;
  top: 34px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 450px;
  padding: 50px;
  background-color: darkred;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 10%;
  box-shadow: 0 0 14px -2px red inset, 0 -8px 6px -2px black inset, 0 0 36px -17px red inset, 0 -5px 44px 3px black inset, 0px 4px 3px 3px black;


  #searchWrapper {
    padding: 30px;
    margin: auto;
    margin-top: 23px;
    text-align: center;
    text-transform: capitalize;
    height: 125px;
    width: 200px;
    background-image: linear-gradient(greenyellow, green);
    @include displayShadow;
    border-radius: 10px;

    #input {
      height: 30px;
      width: 113px;
      outline: none;
      margin-bottom: 12px;
      border: 2px solid black;
      border-radius: 5px;
      padding: 5px;
    }

    #submit {
      width: 100px;
      height: 30px;
      border: 2px solid black;
      border-radius: 5px;
    }
  }

  #submit:hover {
    cursor: pointer;
  }

  #pictureRotate {
    display: flex;

    .rotateButton {
      color: white;
      padding-top: 17px;
      text-align: center;
      font-size: 8px;
      margin-top: 100px;
      background-color: deepskyblue;
      height: 40px;
      width: 40px;
     // @include displayShadow;
      box-shadow: 0px 0px 82px #040851 inset, 0px 0px 5px 4px #600707 inset, 0 0 2px 2px black;
      border-radius: 10px;

    }

  }

  .rotateButton:active {
     transform: scale3d(0.99, 0.96, 0.8);
   }

  #pokemonWrapper{

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
    height: 150px;
    width: 200px;
    background-image: linear-gradient(greenyellow, green);
    @include displayShadow;
    border-radius: 10px;

    #name {
      margin: auto;
      padding-bottom: 3px;
      font-size: 12px;
    }

    #sprite {
      margin: auto;
      width: 96px;
      height: 96px;
    }
  }

#idCounterWrapper {
  display: flex;
  justify-content: space-evenly;


}
  .counter {
    margin-top: 30px;
   text-align: center;
   background-color: greenyellow;
    width: 40px;
    height: 25px;
    @include displayShadow;

 }

  .counter:hover {
    cursor: pointer;
  }

  #extraWrapper {
  //  display: flex;
  //  flex-direction: row;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
   // align-items: center;
    //justify-content: center;


    #id{
      display: flex;
      justify-content: space-around;
      line-height: 50px;
      height: 50px;
      width: 150px;
      background-color: purple;
      box-shadow: 0px 0px 82px purple inset, 0px 0px 5px 4px #600707 inset, 0 0 2px 2px black;
      border-radius: 10px;
      text-align: center;

    }

    #previous{
      flex-grow: 1;
      margin-top: 10px;
      margin-left: 10px;
      line-height: 50px;
      height: 50px;
      width: 50px;
      background-color: purple;
      box-shadow: 0px 0px 82px purple inset, 0px 0px 5px 4px #600707 inset;
      border-radius: 10px;
      text-align: center;
      background-image: url(../img/previous.jpeg);
      background-size: contain;
    }

    #next{
      flex-grow: 1;
      margin-top: 10px;
      margin-left: 10px;
      //padding-top: 10px;
      line-height: 50px;
      height: 50px;
      width: 50px;
      background-color: purple;
      box-shadow: 0px 0px 82px purple inset, 0px 0px 5px 4px #600707 inset;
      border-radius: 10px;
      text-align: center;
    }
  }
}



